/Release
/*.suo
/*.sln
/*.sdf
/URel
/UDeb
/URel64
/UDeb64
/*.ncb
/*.user
build
oWidget_OS6.xcodeproj/project.xcworkspace
oWidget_OS6.xcodeproj/xcuserdata
basolij.pbxuser
basolij.perspectivev3
oWidget_OS61.xcodeproj/project.xcworkspace/xcuserdata
oWidget_OS61.xcodeproj/xcuserdata
