
1   BITMAP  DISCARDABLE     "OWIDGET.BMP"

STRINGTABLE DISCARDABLE 
BEGIN
	1000			"Widget Library"

// objects
	2000			"oDateTime"
	2001			"oCountButton"
	2002			"oDataList"
	2003			"oDropDown"

// properties
	4000			"$localtime:our datetime in the local timezone"
	4001			"$utc:our datetime as UTC"
	4100			"$counter:counter to display"
	4101			"$radius:radius"
	4102			"$spacing:spacing"
	4103			"$countColour:Background colour of our counter"
	4110			"$columncount:Number of columns we display"
	4111			"$columncalcs:Our column calculations, tab delimited"
	4112			"$columnwidths:Our columns widths"
	4113			"$columnaligns:Our column alignment"
	4114			"$maxrowheight:Maximum row height"
	4115			"$columnPrefix:This calculation gets added to every line"
	4116			"$verticalExtends:Limits which columns wrapping text will increase the row height"
	4117			"$evenColor:Alternative background color for even lines (default color = ignore)"
	4120			"$groupcalcs:calculations by which we group"
	4121			"$treeIndent:Number of pixels we indent our nodes in our treelist with"
	4122			"$filtercalc:calculation by which to filter which lines we show"
	4123			"$deselectOnGroupClick:Deselect lines when we click on a node"
	4124			"$parentCalcs:calculations that identify a group as a parent group"
	4200			"$displaycalc:If set, alternative display calculation"

// Events
	5000			"click:User clicked on our field"
	5001			"HScrolled:Field was horizontally scrolled"
	5002			"VScrolled:Field was vertically scrolled"
	5003			"ColumnResized:Column was resized"
	5004			"DoubleClick:User double clicked on our field"
	
// parameters
	7000			"seconds:Seconds"
	7001			"lineNo:Line number"

// methods
	8000			"$addSeconds:$addSeconds() Add seconds to datetime."
	8010			"$isvisible:$isVisible(pvLineNo) Is line visible?"

// methodtext
	10000			"on evClick ;; Button has been clicked"
	10001			"Quit event handler (Pass to next handler)"
	10002			" "

	10010			"on evClick ;; line (pLineNo) has been clicked"
	10011			"Quit event handler (Pass to next handler)"
	10012			" "

	10020			"on evClick ;; Line has been clicked"
	10021			"Quit event handler (Pass to next handler)"
	10022			" "

// Entry point
	31000			"FrameworkWndProc"
END


